/* Стиль для всплывающего окна (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Остается на месте */
    z-index: 1; /* Находится над другими элементами */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включает прокрутку при необходимости */
    background-color: rgb(0,0,0); /* Цвет фона */
    background-color: rgba(0,0,0,0.4); /* Цвет фона с прозрачностью */
}

/* Стиль для всплывающего окна (содержимое) */
.modal-content {
    background-color: #fefefe; /* Цвет фона */
    margin: 15% auto; /* Отступ сверху и по центру */
    padding: 20px; /* Отступ внутри */
    border: 1px solid #888; /* Граница */
    width: 80%; /* Ширина */
}

/* Стиль для кнопки закрытия всплывающего окна */
.close {
    color: #aaa; /* Цвет текста */
    float: right; /* Расположение справа */
    font-size: 28px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
}

/* Стиль для кнопки закрытия всплывающего окна при наведении курсора */
.close:hover,
.close:focus {
    color: black; /* Цвет текста */
    text-decoration: none; /* Без подчеркивания */
    cursor: pointer; /* Курсор в виде руки */
}